.card_goods {
  height: 100%;
}

.goods_linkCont {
  margin: 20px auto;
}

.goods_button {
  text-align: center;
  width: 200px;
}

.goods_img {
  width: 290px;
  margin: 10px auto;
}

.goods_title,
.goods_price {
  text-align: center;
}