.header__shoppingCart {
  width: 30px;
  height: 30px;
  color: rgb(25, 135, 84);
}

.card__shopCart {
  width: 400px;
  min-height: 100px;
  background-color: rgb(255,255,255);
  border-radius: 5px;
  box-shadow: 16px 25px 85px 0px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: 16px 25px 85px 0px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 16px 25px 85px 0px rgba(0, 0, 0, 0.59);
  position: absolute;
  top: 165px;
  right: 5px;
  z-index: 1000;
}