.grid__wrapper {
	margin: 0 80px 0 80px;
	min-height: 100%;
	display: grid;
	grid-template: minmax(120px, auto) 1fr minmax(80px, auto) / 1fr;
	grid-template-areas: "header"
		"main"
		"footer";
	border: 2px solid rgb(43, 226, 55);
}

.grid__main {
	grid-area: main;
	border: 2px solid rgb(226, 43, 67);
}

