.App {
	background-image: linear-gradient(rgb(97, 207, 141), rgb(206, 239, 219));
}

.grid__wrapper {
	margin: 0 80px 0 80px;
	min-height: 100%;
	display: grid;
	grid-template: minmax(120px, auto) 1fr minmax(80px, auto) / 1fr;
	grid-template-areas: "header"
		"main"
		"footer";
}

.grid__main {
	grid-area: main;
}

