.App {
  text-align: center;
}

.color__icon {
  color: green;
}
.grid__wrapper {
	min-height: 100%;
	display: grid;
	grid-template: minmax(120px, auto) 1fr minmax(80px, auto) / 1fr;
	grid-template-areas: "header"
		"main"
		"footer";
	border: 2px solid rgb(43, 226, 55);
}

.grid__header {
	grid-area: header;
	padding: 15px;
	display: grid;
	grid-template: 1fr / minmax(auto, 130px) minmax(auto, 1000px) minmax(auto, 130px) minmax(auto, 130px) minmax(auto, 130px);
	border: 2px solid rgb(43, 52, 226);
}

.header__logo {
	border: 2px solid rgb(217, 255, 127);
}

.header__navbar {
	border: 2px solid rgb(244, 143, 244);
}

.header__likes {
	border: 2px solid rgb(127, 140, 255);
}

.header__shoppingCart {
	border: 2px solid aquamarine;
}

.header__languageSelection {
	border: 2px solid rgb(133, 224, 183);
}

.grid__main {
	grid-area: main;
	border: 2px solid rgb(226, 43, 67);
}

.grid__footer {
	grid-area: footer;
	display: grid;
	padding: 15px;
	grid-template: 1fr / minmax(auto, 466px) minmax(auto, 466px) minmax(auto, 466px);
	border: 2px solid rgb(174, 226, 43);
}

.footer__reviews {
	border: 2px solid aquamarine;
}

.footer__forTea {
	border: 2px solid rgb(217, 255, 127);
}

.footer__contacts {
	border: 2px solid rgb(226, 43, 67);
}